<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Bon de commande</title>
        <style>
            body {
                font-family: sans-serif;
            }
            table {
                width: 100%;
                border-collapse: collapse;
            }
            td {
                border: 1px solid black;
                padding: 3px;
                font-size: 10px;
            }
        </style>
    </head>
    <body>
        <h2 style="text-align: center">Bon de commande</h2>
        <table>
            <tr>
                <td>BC N°</td>
                <td><%= numero %></td>
                <td>FACTURE N°</td>
                <td><%= numero %></td>
            </tr>
            <tr>
                <td>DATE RECUP</td>
                <td><%= date_recup %></td>
                <td>DATE</td>
                <td><%= date_recup %></td>
            </tr>
            <tr>
                <td>HEURE</td>
                <td><%= heure_recup %></td>
                <td>DATE / HEURE RECUP</td>
                <td><%= date_recup %> <%= heure_recup %></td>
            </tr>
            <tr>
                <td>NOM</td>
                <td><%= nom %></td>
                <td>NOM</td>
                <td><%= nom %></td>r
            </tr>
            <tr>
                <td>CONTACT (Tel / Fb)</td>
                <td><%= contact %></td>
                <td colspan="2" rowspan="7" style="padding: 0;margin-top: 0;">
                    <table style="top: 0;">
                        <tr>
                            <td>QTE (PAX)</td>
                            <td>DESIGNATION</td>
                            <td>PU</td>
                            <td>MONTANT</td>
                        </tr>
                        <% gateaux.forEach(gateau => { %>
                            <tr>
                                <td><%= gateau.gateau_nb_pax %></td>
                                <td><%= gateau.gateau_observation %></td>
                                <td><%= gateau.gateau_montant_unitaire %></td>
                                <td><%= gateau.gateau_montant_total %></td>
                            </tr>
                        <% }); %>
                    </table>
                </td>
            </tr>
            <tr>
                <td>NOMBRE PAX</td>
                <td><%= nbr_pax %></td>
            </tr>
            <tr>
                <td>TYPE</td>
                <td><%= type %></td>
            </tr>
            <tr>
                <td>FORME</td>
                <td><%= forme %></td>
            </tr>
            <tr>
                <td>THEME / COULEUR</td>
                <td><%= couleur %></td>
            </tr>
            <tr>
                <td>MESSAGE</td>
                <td><%= message %></td>
            </tr>
            <tr>
                <td>REDUCTION</td>
                <td><%= reduction %></td>
            </tr>
            <tr>
                <td>SEXE / ÂGE</td>
                <td><%= sexe %> / <%= age %> ans</td>
                <td>MONTANT TOTAL</td>
                <td><%= montant_total %></td>
            </tr>
            <tr>
                <td>AUTRE</td>
                <td><%= autre %></td>
                <td>AVANCE</td>
                <td><%= avance %></td>
            </tr>
            <tr>
                <td></td>
                <td><%= observation %></td>
                <td>RESTE A PAYER</td>
                <td><%= reste - reduction %></td>
            </tr>
        </table>
        <div style="margin-top: 20px;display: flex;flex-wrap: wrap;justify-content: flex-end;direction: rtl;">
            <% gateaux.forEach(gateau => { %>
                <img src="<%= gateau.gateau_model %>" width="100">
            <% }); %>
        </div>
    </body>
</html>
